<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova.plugins.GPLocation"
        version="1.0.0">

  <name>GPLocation</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/gplocation.js" target="js/gplocation.js"/>

  <js-module src="www/gplocation.js" name="GPLocation">
    <clobbers target="GPLocation" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GPLocation">
        <param name="android-package" value="cordova.plugins.GPLocation" />
      </feature>
    </config-file>
    <framework src="src/android/GPLocation.gradle" custom="true" type="gradleReference"/>
    <source-file src="src/android/GPLocation.java" target-dir="src/cordova/plugins" />
  </platform>

</plugin>
